Laços de repetição

In [2]:
credito = {'123': 750, '456': 812, '789': 980}
for chave, valor in credito.items():
  print(f'Para o documento {chave}, o valor do escore de credito é {valor}.')

Para o documento 123, o valor do escore de credito é 750.
Para o documento 456, o valor do escore de credito é 812.
Para o documento 789, o valor do escore de credito é 980.

Funções

In [3]:
def pi()-> float:
  return 3.14159265359
pi = pi()
print(pi)

3.14159265359

Programação Funcional

In [7]:
emails = ['andre.perez@gmail.com', 'andre.perez@live.com', 'andre.perez@yahoo.com']
provedor_da_google = lambda email: 'gmail' in email

emails_google = filter(provedor_da_google, emails)
print(list(emails_google))

['andre.perez@gmail.com']

Programação orientada a objetos

In [14]:
class Pessoa(object):
  def __init__(self, nome: str, idade: int, documento: str):
    self.nome = nome
    self.idade = idade
    self.documento = documento
  
agnelo = Pessoa(nome='Agnelo', idade=34, documento='123')
print(f'Nome-> {agnelo.nome} Idade-> {agnelo.idade} Documento-> {agnelo.documento}')

Nome-> Agnelo Idade-> 34 Documento-> 123

2. Erros em tempo de execução

In [2]:
%%writefile credito.csv
id_vendedor,valor_emprestimos,quantidade_emprestimos,data
104271,448.0,1,20161208
21476,826.7,3,20161208
87440,313.6,3,20161208
15980,808.0,6,20161208
215906,2212.0,5,20161208
33696,2771.3,2,20161208
33893,2240.0,3,20161208
214946,"4151.0",18,20161208
123974,2021.95,2,20161208
225870,4039.0,2,20161208

Writing credito.csv

In [25]:
frase2 = 'Módulos finalizados: 1, 2, 3, "4", "5", "6 e 7'

#usar o replace() para trocar o caractere asterisco pelo caractere aspas na string "frase2"
print(frase2.replace('"', ''))

Módulos finalizados: 1, 2, 3, 4, 5, 6 e 7

In [34]:
def valor_total_emprestimo(valor: float, quantidade: int) -> float:
  return valor * quantidade

emprestimos = []

with open(file='./credito.csv', mode='r', encoding='utf8') as fp:
  fp.readline() # cabeçalho
  linha = fp.readline()
  while linha:
    linha_emprestimo = {}
    try:  
      
      linha_elementos = linha.strip().split(sep=',')
      linha_emprestimo['id_vendedor'] = linha_elementos[0]
      linha_emprestimo['valor_emprestimos'] = float(linha_elementos[1])
      linha_emprestimo['quantidade_emprestimos'] = int(linha_elementos[2])
      linha_emprestimo['data'] = linha_elementos[3]
      emprestimos.append(linha_emprestimo)
      linha = fp.readline()
    except:
      
      linha_elementos = linha.strip().split(sep=',')
      
      linha_emprestimo['id_vendedor'] = linha_elementos[0]
      
      #linha onde tem o problema de erro usei o replace para substituir o caracter '"' por ''
      linha_emprestimo['valor_emprestimos'] = float(linha_elementos[1].replace('"',''))
      linha_emprestimo['quantidade_emprestimos'] = int(linha_elementos[2])
      linha_emprestimo['data'] = linha_elementos[3]
      emprestimos.append(linha_emprestimo)
      linha = fp.readline()      

  emprestimos_total = []

for emprestimo in emprestimos:
  valor_total = valor_total_emprestimo(valor=emprestimo['valor_emprestimos'], quantidade=emprestimo['quantidade_emprestimos'])
  emprestimos_total.append({emprestimo['id_vendedor']: valor_total})

for emprestimo_total in emprestimos_total:
  print(emprestimo_total)

{'104271': 448.0}
{'21476': 2480.1000000000004}
{'87440': 940.8000000000001}
{'15980': 4848.0}
{'215906': 11060.0}
{'33696': 5542.6}
{'33893': 6720.0}
{'214946': 74718.0}
{'123974': 4043.9}
{'225870': 8078.0}